In [1]:
import pandas as pd
import numpy as np
from scipy import spatial
from IPython.display import display
import json

In [2]:
movies = pd.read_csv("data/tmdb_5000_movies.csv")
credits = pd.read_csv("data/tmdb_5000_credits.csv")

In [3]:
pd.set_option("display.max_colwidth",80)

In [4]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""}, {""id...",en,Avatar,"In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora o...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289}, {""name"": ""Twentieth Century...","[{""iso_3166_1"": ""US"", ""name"": ""United States of America""}, {""iso_3166_1"": ""G...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso_639_1"": ""es"", ""name"": ""Espa\u...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""name"": ""drug abuse""}, {""id"": 911...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, has come back to life and is hea...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""name"": ""Jerry Bruckheimer Film...","[{""iso_3166_1"": ""US"", ""name"": ""United States of America""}]",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 80, ""...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name"": ""based on novel""}, {""id"": 4...",en,Spectre,A cryptic message from Bond’s past sends him on a trail to uncover a siniste...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""name"": ""Danjaq"", ""id"": 10761}, {""...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""}, {""iso_3166_1"": ""US"", ""name""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""}, {""iso_639_1"": ""en"", ""name"": ""...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853, ""name"": ""crime fighter""}, {""i...",en,The Dark Knight Rises,"Following the death of District Attorney Harvey Dent, Batman assumes respons...",112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""name"": ""Warner Bros."", ""id"": 6...","[{""iso_3166_1"": ""US"", ""name"": ""United States of America""}]",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 878, ...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"": 839, ""name"": ""mars""}, {""id"": ...",en,John Carter,"John Carter is a war-weary, former military captain who's inexplicably trans...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States of America""}]",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
movies.shape

(4803, 20)

In [6]:
movies["id"].unique()

array([ 19995,    285, 206647, ..., 231617, 126186,  25975])

In [7]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""credit_id"": ""5602a8a7c3a368553...","[{""credit_id"": ""52fe48009251416c750aca23"", ""department"": ""Editing"", ""gender""..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Sparrow"", ""credit_id"": ""52fe4232c...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""department"": ""Camera"", ""gender"":..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""credit_id"": ""52fe4d22c3a368484e1...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""department"": ""Sound"", ""gender"": ..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Batman"", ""credit_id"": ""52fe4781c...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""department"": ""Sound"", ""gender"": ..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""credit_id"": ""52fe479ac3a36847f8...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""department"": ""Writing"", ""gender""..."

In [8]:
credits.shape

(4803, 4)

In [9]:
#changing the genres column from json to string
movies["genres"] = movies["genres"].apply(json.loads)
print(movies["genres"])

0       [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 14, '...
1       [{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 28, ...
2       [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 80, '...
3       [{'id': 28, 'name': 'Action'}, {'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
4       [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 878, ...
                                             ...
4798    [{'id': 28, 'name': 'Action'}, {'id': 80, 'name': 'Crime'}, {'id': 53, 'name...
4799                   [{'id': 35, 'name': 'Comedy'}, {'id': 10749, 'name': 'Romance'}]
4800    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
4801                                                                                 []
4802                                                [{'id': 99, 'name': 'Documentary'}]
Name: genres, Length: 4803, dtype: object

In [10]:
for index,i in zip(movies.index,movies["genres"]):
    list1 = []
    for j in range(len(i)):
        list1.append(i[j]["name"])
    movies.loc[index,"genres"] = str(list1)

In [11]:
movies[["genres","original_title"]]

,genres,original_title
0,"['Action', 'Adventure', 'Fantasy', 'Science Fiction']",Avatar
1,"['Adventure', 'Fantasy', 'Action']",Pirates of the Caribbean: At World's End
2,"['Action', 'Adventure', 'Crime']",Spectre
3,"['Action', 'Crime', 'Drama', 'Thriller']",The Dark Knight Rises
4,"['Action', 'Adventure', 'Science Fiction']",John Carter
...,...,...
4798,"['Action', 'Crime', 'Thriller']",El Mariachi
4799,"['Comedy', 'Romance']",Newlyweds
4800,"['Comedy', 'Drama', 'Romance', 'TV Movie']","Signed, Sealed, Delivered"
4801,[],Shanghai Calling
4802,['Documentary'],My Date with Drew

In [12]:
#doing same with keywords,production_companies,cast and crew
movies["keywords"] = movies["keywords"].apply(json.loads)

for index,i in zip(movies.index,movies["keywords"]):
    list2 = []
    
    for j in range(len(i)):
        list2.append(i[j]["name"])
        
    movies.loc[index,"keywords"] = str(list2)

movies["production_companies"] = movies["production_companies"].apply(json.loads)

for index,i in zip(movies.index,movies["production_companies"]):
    list3 = []
    
    for j in range(len(i)):
        list3.append(i[j]["name"])
        
    movies.loc[index,"production_companies"] = str(list3)
   
credits["cast"] = credits["cast"].apply(json.loads)

for index,i in zip(credits.index,credits["cast"]):
    list4 = []
    
    for j in range(len(i)):
        list4.append(i[j]["name"])
        
    credits.loc[index,"cast"] = str(list4)

    
    
credits["crew"] = credits["crew"].apply(json.loads)

for index,i in zip(credits.index,credits["crew"]):
    list4 = []
    director = "None"
    screenplay = "None"
    
    for j in range(len(i)):
        if(i[j]["job"] == "Director"):
            director = i[j]["name"]
        if(i[j]["job"] == "Screenplay"):
            screenplay = i[j]["name"]
        list4.append(i[j]["name"])
        
    credits.loc[index,"crew"] = str(list4)
    credits.loc[index,"director"] = director
    credits.loc[index,"screenplay"] = screenplay

In [13]:
credits[["cast","crew","director","screenplay"]]

,cast,crew,director,screenplay
0,"['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver', 'Stephen Lang', 'Mich...","['Stephen E. Rivkin', 'Rick Carter', 'Christopher Boyes', 'Christopher Boyes...",James Cameron,James Cameron
1,"['Johnny Depp', 'Orlando Bloom', 'Keira Knightley', 'Stellan Skarsgård', 'Ch...","['Dariusz Wolski', 'Gore Verbinski', 'Jerry Bruckheimer', 'Ted Elliott', 'Te...",Gore Verbinski,Terry Rossio
2,"['Daniel Craig', 'Christoph Waltz', 'Léa Seydoux', 'Ralph Fiennes', 'Monica ...","['Thomas Newman', 'Sam Mendes', 'Anna Pinnock', 'John Logan', 'John Logan', ...",Sam Mendes,Jez Butterworth
3,"['Christian Bale', 'Michael Caine', 'Gary Oldman', 'Anne Hathaway', 'Tom Har...","['Hans Zimmer', 'Charles Roven', 'Christopher Nolan', 'Christopher Nolan', '...",Christopher Nolan,Jonathan Nolan
4,"['Taylor Kitsch', 'Lynn Collins', 'Samantha Morton', 'Willem Dafoe', 'Thomas...","['Andrew Stanton', 'Andrew Stanton', 'John Lasseter', 'Colin Wilson', 'Gail ...",Andrew Stanton,Mark Andrews
...,...,...,...,...
4798,"['Carlos Gallardo', 'Jaime de Hoyos', 'Peter Marquardt', 'Reinol Martinez', ...","['Robert Rodriguez', 'Robert Rodriguez', 'Robert Rodriguez', 'Robert Rodrigu...",Robert Rodriguez,None
4799,"['Edward Burns', 'Kerry Bishé', 'Marsha Dietlein', 'Caitlin Fitzgerald', 'Da...","['Edward Burns', 'Edward Burns', 'Edward Burns', 'William Rexer', 'William R...",Edward Burns,None
4800,"['Eric Mabius', 'Kristin Booth', 'Crystal Lowe', 'Geoff Gustafson', 'Benjami...","['Carla Hetland', 'Harvey Kahn', 'Adam Sliwinski', 'Martha Williamson', 'Mar...",Scott Smith,None
4801,"['Daniel Henney', 'Eliza Coupe', 'Bill Paxton', 'Alan Ruck', 'Zhu Shimao']","['Daniel Hsia', 'Daniel Hsia']",Daniel Hsia,None
4802,"['Drew Barrymore', 'Brian Herzlinger', 'Corey Feldman', 'Eric Roberts', 'Gri...","['Clark Peterson', 'Andrew Reimer', 'Brian Herzlinger', 'Jon Gunn', 'Brett W...",Brett Winn,None

In [14]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [15]:
#Merging both csvs into one movies df with only required features
movies = movies.merge(credits,left_on = "id",right_on = "movie_id",how = "left")
movies = movies[['id', 'original_title', 'genres', 'cast', 'vote_average', 'director','screenplay','keywords']]

In [16]:
movies

,id,original_title,genres,cast,vote_average,director,screenplay,keywords
0,19995,Avatar,"['Action', 'Adventure', 'Fantasy', 'Science Fiction']","['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver', 'Stephen Lang', 'Mich...",7.2,James Cameron,James Cameron,"['culture clash', 'future', 'space war', 'space colony', 'society', 'space t..."
1,285,Pirates of the Caribbean: At World's End,"['Adventure', 'Fantasy', 'Action']","['Johnny Depp', 'Orlando Bloom', 'Keira Knightley', 'Stellan Skarsgård', 'Ch...",6.9,Gore Verbinski,Terry Rossio,"['ocean', 'drug abuse', 'exotic island', 'east india trading company', ""love..."
2,206647,Spectre,"['Action', 'Adventure', 'Crime']","['Daniel Craig', 'Christoph Waltz', 'Léa Seydoux', 'Ralph Fiennes', 'Monica ...",6.3,Sam Mendes,Jez Butterworth,"['spy', 'based on novel', 'secret agent', 'sequel', 'mi6', 'british secret s..."
3,49026,The Dark Knight Rises,"['Action', 'Crime', 'Drama', 'Thriller']","['Christian Bale', 'Michael Caine', 'Gary Oldman', 'Anne Hathaway', 'Tom Har...",7.6,Christopher Nolan,Jonathan Nolan,"['dc comics', 'crime fighter', 'terrorist', 'secret identity', 'burglar', 'h..."
4,49529,John Carter,"['Action', 'Adventure', 'Science Fiction']","['Taylor Kitsch', 'Lynn Collins', 'Samantha Morton', 'Willem Dafoe', 'Thomas...",6.1,Andrew Stanton,Mark Andrews,"['based on novel', 'mars', 'medallion', 'space travel', 'princess', 'alien',..."
...,...,...,...,...,...,...,...,...
4798,9367,El Mariachi,"['Action', 'Crime', 'Thriller']","['Carlos Gallardo', 'Jaime de Hoyos', 'Peter Marquardt', 'Reinol Martinez', ...",6.6,Robert Rodriguez,None,"['united states–mexico barrier', 'legs', 'arms', 'paper knife', 'guitar case']"
4799,72766,Newlyweds,"['Comedy', 'Romance']","['Edward Burns', 'Kerry Bishé', 'Marsha Dietlein', 'Caitlin Fitzgerald', 'Da...",5.9,Edward Burns,None,[]
4800,231617,"Signed, Sealed, Delivered","['Comedy', 'Drama', 'Romance', 'TV Movie']","['Eric Mabius', 'Kristin Booth', 'Crystal Lowe', 'Geoff Gustafson', 'Benjami...",7.0,Scott Smith,None,"['date', 'love at first sight', 'narration', 'investigation', 'team', 'posta..."
4801,126186,Shanghai Calling,[],"['Daniel Henney', 'Eliza Coupe', 'Bill Paxton', 'Alan Ruck', 'Zhu Shimao']",5.7,Daniel Hsia,None,[]
4802,25975,My Date with Drew,['Documentary'],"['Drew Barrymore', 'Brian Herzlinger', 'Corey Feldman', 'Eric Roberts', 'Gri...",6.3,Brett Winn,None,"['obsession', 'camcorder', 'crush', 'dream girl']"

In [17]:
#Removing rows having either 0 score or no director or screenplay
movies = movies[(movies["vote_average"]!=0) & (movies["director"]!='None') & (movies["screenplay"]!='None')] 
movies.reset_index(drop = True,inplace = True)

In [18]:
#Cleaning up genres column
movies["genres"] = movies["genres"].str.strip("[]").str.replace(' ','').str.replace("'",'')

/tmp/ipykernel_119323/427231221.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["genres"] = movies["genres"].str.strip("[]").str.replace(' ','').str.replace("'",'')

In [19]:
movies["genres"] = movies["genres"].str.split(",")

/tmp/ipykernel_119323/2801125740.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["genres"] = movies["genres"].str.split(",")

In [20]:
movies["genres"] ##Converted all strings to list of genres

0       [Action, Adventure, Fantasy, ScienceFiction]
1                       [Adventure, Fantasy, Action]
2                         [Action, Adventure, Crime]
3                   [Action, Crime, Drama, Thriller]
4                [Action, Adventure, ScienceFiction]
                            ...
2921                            [Documentary, Music]
2922                                        [Comedy]
2923                               [Comedy, Romance]
2924                         [Horror, Comedy, Crime]
2925                                         [Drama]
Name: genres, Length: 2926, dtype: object

In [21]:
#To get all the unique genres
genrelist = []

for i in movies["genres"]:
    for j in i:
        if j not in genrelist:
            genrelist.append(j)
            
print(genrelist)

['Action', 'Adventure', 'Fantasy', 'ScienceFiction', 'Crime', 'Drama', 'Thriller', 'Animation', 'Family', 'Western', 'Comedy', 'Romance', 'Horror', 'Mystery', 'History', 'War', 'Music', 'Documentary', 'Foreign', 'TVMovie', '']

In [22]:
#To get genres present in terms of binary info
def to_binary(vals,all_vals):
    binary_list = []
    for i in all_vals:
        if i in vals:
            binary_list.append(1)
        else:
            binary_list.append(0)
            
    return binary_list

In [23]:
movies["genres_bin"] = movies["genres"].apply(lambda x: to_binary(x,genrelist))

/tmp/ipykernel_119323/889594342.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["genres_bin"] = movies["genres"].apply(lambda x: to_binary(x,genrelist))

In [24]:
movies

,id,original_title,genres,cast,vote_average,director,screenplay,keywords,genres_bin
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver', 'Stephen Lang', 'Mich...",7.2,James Cameron,James Cameron,"['culture clash', 'future', 'space war', 'space colony', 'society', 'space t...","[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","['Johnny Depp', 'Orlando Bloom', 'Keira Knightley', 'Stellan Skarsgård', 'Ch...",6.9,Gore Verbinski,Terry Rossio,"['ocean', 'drug abuse', 'exotic island', 'east india trading company', ""love...","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
2,206647,Spectre,"[Action, Adventure, Crime]","['Daniel Craig', 'Christoph Waltz', 'Léa Seydoux', 'Ralph Fiennes', 'Monica ...",6.3,Sam Mendes,Jez Butterworth,"['spy', 'based on novel', 'secret agent', 'sequel', 'mi6', 'british secret s...","[1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","['Christian Bale', 'Michael Caine', 'Gary Oldman', 'Anne Hathaway', 'Tom Har...",7.6,Christopher Nolan,Jonathan Nolan,"['dc comics', 'crime fighter', 'terrorist', 'secret identity', 'burglar', 'h...","[1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
4,49529,John Carter,"[Action, Adventure, ScienceFiction]","['Taylor Kitsch', 'Lynn Collins', 'Samantha Morton', 'Willem Dafoe', 'Thomas...",6.1,Andrew Stanton,Mark Andrews,"['based on novel', 'mars', 'medallion', 'space travel', 'princess', 'alien',...","[1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
...,...,...,...,...,...,...,...,...,...
2921,13963,The Last Waltz,"[Documentary, Music]","['Robbie Robertson', 'Rick Danko', 'Levon Helm', 'Richard Manuel', 'Garth Hu...",7.9,Martin Scorsese,Mardik Martin,"['1970s', 'music']","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]"
2922,2292,Clerks,[Comedy],"[""Brian O'Halloran"", 'Jeff Anderson', 'Jason Mewes', 'Kevin Smith', 'Lisa Sp...",7.4,Kevin Smith,Kevin Smith,"['salesclerk', 'loser', 'aftercreditsstinger']","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
2923,44990,Breaking Upwards,"[Comedy, Romance]","['Zoe Lister-Jones', 'Daryl Wein', 'Julie White', 'Andrea Martin', 'Peter Fr...",5.6,Daryl Wein,Peter Duchan,['independent film'],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
2924,692,Pink Flamingos,"[Horror, Comedy, Crime]","['Divine', 'David Lochary', 'Mary Vivian Pearce', 'Mink Stole', 'Danny Mills...",6.2,John Waters,John Waters,"['gay', 'trailer park', 'pop culture', 'drug dealer', 'heroin', 'fetishism',...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]"
2925,182291,On The Downlow,[Drama],"['Tony Sancho', 'Michael Cortez', 'Donato Cruz', 'Felipe Camacho', 'Carmen C...",6.0,Tadeo Garcia,Roger B. Domian,"['confession', 'hazing', 'gang member', 'latino', 'lgbt', 'catholic priest',...","[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"

In [25]:
#Doing the same with cast but only taking the top 5 cast since others are not relevant
movies["cast"] = movies["cast"].str.strip("[]").str.replace(" ","").str.replace("'","")
movies["cast"] = movies["cast"].str.split(",")

/tmp/ipykernel_119323/939847760.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["cast"] = movies["cast"].str.strip("[]").str.replace(" ","").str.replace("'","")
/tmp/ipykernel_119323/939847760.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["cast"] = movies["cast"].str.split(",")

In [26]:
movies["cast"] = movies["cast"].apply(lambda x: x[:5])

/tmp/ipykernel_119323/2039269404.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["cast"] = movies["cast"].apply(lambda x: x[:5])

In [27]:
movies["cast"]

0       [SamWorthington, ZoeSaldana, SigourneyWeaver, StephenLang, MichelleRodriguez]
1           [JohnnyDepp, OrlandoBloom, KeiraKnightley, StellanSkarsgård, ChowYun-fat]
2             [DanielCraig, ChristophWaltz, LéaSeydoux, RalphFiennes, MonicaBellucci]
3                   [ChristianBale, MichaelCaine, GaryOldman, AnneHathaway, TomHardy]
4         [TaylorKitsch, LynnCollins, SamanthaMorton, WillemDafoe, ThomasHadenChurch]
                                            ...
2921              [RobbieRobertson, RickDanko, LevonHelm, RichardManuel, GarthHudson]
2922         ["BrianOHalloran", JeffAnderson, JasonMewes, KevinSmith, LisaSpoonhauer]
2923            [ZoeLister-Jones, DarylWein, JulieWhite, AndreaMartin, PeterFriedman]
2924                  [Divine, DavidLochary, MaryVivianPearce, MinkStole, DannyMills]
2925              [TonySancho, MichaelCortez, DonatoCruz, FelipeCamacho, CarmenCenko]
Name: cast, Length: 2926, dtype: object

In [28]:
castlist = []

for i in movies["cast"]:
    for j in i:
        if j not in castlist:
            castlist.append(j)
            
# print(castlist)

In [29]:
movies["cast_bin"] = movies["cast"].apply(lambda x: to_binary(x,castlist))
movies

/tmp/ipykernel_119323/311479862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["cast_bin"] = movies["cast"].apply(lambda x: to_binary(x,castlist))

,id,original_title,genres,cast,vote_average,director,screenplay,keywords,genres_bin,cast_bin
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver, StephenLang, MichelleRodriguez]",7.2,James Cameron,James Cameron,"['culture clash', 'future', 'space war', 'space colony', 'society', 'space t...","[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[JohnnyDepp, OrlandoBloom, KeiraKnightley, StellanSkarsgård, ChowYun-fat]",6.9,Gore Verbinski,Terry Rossio,"['ocean', 'drug abuse', 'exotic island', 'east india trading company', ""love...","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,206647,Spectre,"[Action, Adventure, Crime]","[DanielCraig, ChristophWaltz, LéaSeydoux, RalphFiennes, MonicaBellucci]",6.3,Sam Mendes,Jez Butterworth,"['spy', 'based on novel', 'secret agent', 'sequel', 'mi6', 'british secret s...","[1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[ChristianBale, MichaelCaine, GaryOldman, AnneHathaway, TomHardy]",7.6,Christopher Nolan,Jonathan Nolan,"['dc comics', 'crime fighter', 'terrorist', 'secret identity', 'burglar', 'h...","[1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction]","[TaylorKitsch, LynnCollins, SamanthaMorton, WillemDafoe, ThomasHadenChurch]",6.1,Andrew Stanton,Mark Andrews,"['based on novel', 'mars', 'medallion', 'space travel', 'princess', 'alien',...","[1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, ..."
...,...,...,...,...,...,...,...,...,...,...
2921,13963,The Last Waltz,"[Documentary, Music]","[RobbieRobertson, RickDanko, LevonHelm, RichardManuel, GarthHudson]",7.9,Martin Scorsese,Mardik Martin,"['1970s', 'music']","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2922,2292,Clerks,[Comedy],"[""BrianOHalloran"", JeffAnderson, JasonMewes, KevinSmith, LisaSpoonhauer]",7.4,Kevin Smith,Kevin Smith,"['salesclerk', 'loser', 'aftercreditsstinger']","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2923,44990,Breaking Upwards,"[Comedy, Romance]","[ZoeLister-Jones, DarylWein, JulieWhite, AndreaMartin, PeterFriedman]",5.6,Daryl Wein,Peter Duchan,['independent film'],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2924,692,Pink Flamingos,"[Horror, Comedy, Crime]","[Divine, DavidLochary, MaryVivianPearce, MinkStole, DannyMills]",6.2,John Waters,John Waters,"['gay', 'trailer park', 'pop culture', 'drug dealer', 'heroin', 'fetishism',...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2925,182291,On The Downlow,[Drama],"[TonySancho, MichaelCortez, DonatoCruz, FelipeCamacho, CarmenCenko]",6.0,Tadeo Garcia,Roger B. Domian,"['confession', 'hazing', 'gang member', 'latino', 'lgbt', 'catholic priest',...","[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [30]:
#Getting Director_bin and Screenplay_bin
directorlist = list(movies["director"].unique())
screenplaylist = list(movies["screenplay"].unique())

movies["director_bin"] = movies["director"].apply(lambda x: to_binary(x,directorlist))
movies["screenplay_bin"] = movies["screenplay"].apply(lambda x: to_binary(x,screenplaylist))
movies

/tmp/ipykernel_119323/600718640.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["director_bin"] = movies["director"].apply(lambda x: to_binary(x,directorlist))
/tmp/ipykernel_119323/600718640.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["screenplay_bin"] = movies["screenplay"].apply(lambda x: to_binary(x,screenplaylist))

,id,original_title,genres,cast,vote_average,director,screenplay,keywords,genres_bin,cast_bin,director_bin,screenplay_bin
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver, StephenLang, MichelleRodriguez]",7.2,James Cameron,James Cameron,"['culture clash', 'future', 'space war', 'space colony', 'society', 'space t...","[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[JohnnyDepp, OrlandoBloom, KeiraKnightley, StellanSkarsgård, ChowYun-fat]",6.9,Gore Verbinski,Terry Rossio,"['ocean', 'drug abuse', 'exotic island', 'east india trading company', ""love...","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,206647,Spectre,"[Action, Adventure, Crime]","[DanielCraig, ChristophWaltz, LéaSeydoux, RalphFiennes, MonicaBellucci]",6.3,Sam Mendes,Jez Butterworth,"['spy', 'based on novel', 'secret agent', 'sequel', 'mi6', 'british secret s...","[1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[ChristianBale, MichaelCaine, GaryOldman, AnneHathaway, TomHardy]",7.6,Christopher Nolan,Jonathan Nolan,"['dc comics', 'crime fighter', 'terrorist', 'secret identity', 'burglar', 'h...","[1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction]","[TaylorKitsch, LynnCollins, SamanthaMorton, WillemDafoe, ThomasHadenChurch]",6.1,Andrew Stanton,Mark Andrews,"['based on novel', 'mars', 'medallion', 'space travel', 'princess', 'alien',...","[1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
2921,13963,The Last Waltz,"[Documentary, Music]","[RobbieRobertson, RickDanko, LevonHelm, RichardManuel, GarthHudson]",7.9,Martin Scorsese,Mardik Martin,"['1970s', 'music']","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2922,2292,Clerks,[Comedy],"[""BrianOHalloran"", JeffAnderson, JasonMewes, KevinSmith, LisaSpoonhauer]",7.4,Kevin Smith,Kevin Smith,"['salesclerk', 'loser', 'aftercreditsstinger']","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2923,44990,Breaking Upwards,"[Comedy, Romance]","[ZoeLister-Jones, DarylWein, JulieWhite, AndreaMartin, PeterFriedman]",5.6,Daryl Wein,Peter Duchan,['independent film'],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2924,692,Pink Flamingos,"[Horror, Comedy, Crime]","[Divine, DavidLochary, MaryVivianPearce, MinkStole, DannyMills]",6.2,John Waters,John Waters,"['gay', 'trailer park', 'pop culture', 'drug dealer', 'heroin', 'fetishism',...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2925,182291,On The Downlow,[Drama],"[TonySancho, MichaelCortez, DonatoCruz, FelipeCamacho, CarmenCenko]",6.0,Tadeo Garcia,Roger B. Domian,"['confession', 'hazing', 'gang member', 'latino', 'lgbt', 'catholic priest',...","[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [31]:
#Same with keywords
movies["keywords"] = movies["keywords"].str.strip("[]").str.replace(" ","").str.replace("'","").str.split(",")

/tmp/ipykernel_119323/4273861121.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["keywords"] = movies["keywords"].str.strip("[]").str.replace(" ","").str.replace("'","").str.split(",")

In [32]:
keywordslist = []

for i in movies["keywords"]:
    for j in i:
        if j not in keywordslist:
            keywordslist.append(j)
            
movies["keywords_bin"] = movies["keywords"].apply(lambda x: to_binary(x,keywordslist))

/tmp/ipykernel_119323/3000217305.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["keywords_bin"] = movies["keywords"].apply(lambda x: to_binary(x,keywordslist))

In [33]:
#Finding Similarity between two movie
def Similarity(movieID1,movieID2):
    a = movies.iloc[movieID1]
    b = movies.iloc[movieID2]
    
    genresA = a["genres_bin"]
    genresB = b["genres_bin"]
    
    genreDistance = spatial.distance.cosine(genresA,genresB)
    
    castA = a["cast_bin"]
    castB = b["cast_bin"]
    
    castDistance = spatial.distance.cosine(castA,castB)
    
    directorA = a["director_bin"]
    directorB = b["director_bin"]
    
    directorDistance = spatial.distance.cosine(directorA,directorB)
    
    screenplayA = a["screenplay_bin"]
    screenplayB = b["screenplay_bin"]
    
    screenplayDistance = spatial.distance.cosine(screenplayA,screenplayB)
    
    keywordsA = a["keywords_bin"]
    keywordsB = b["keywords_bin"]
    
    keywordsDistance = spatial.distance.cosine(keywordsA,keywordsB)
    
    #The more the distance the less similar the two movies are
    return genreDistance+castDistance+directorDistance+screenplayDistance+keywordsDistance

In [34]:
Similarity(0,1)

4.133974596215562

In [35]:
movies["id"] = pd.Series(movies.index)

/tmp/ipykernel_119323/134540108.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies["id"] = pd.Series(movies.index)

In [36]:
movies

,id,original_title,genres,cast,vote_average,director,screenplay,keywords,genres_bin,cast_bin,director_bin,screenplay_bin,keywords_bin
0,0,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver, StephenLang, MichelleRodriguez]",7.2,James Cameron,James Cameron,"[cultureclash, future, spacewar, spacecolony, society, spacetravel, futurist...","[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, ..."
1,1,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[JohnnyDepp, OrlandoBloom, KeiraKnightley, StellanSkarsgård, ChowYun-fat]",6.9,Gore Verbinski,Terry Rossio,"[ocean, drugabuse, exoticisland, eastindiatradingcompany, ""loveofoneslife"", ...","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, ..."
2,2,Spectre,"[Action, Adventure, Crime]","[DanielCraig, ChristophWaltz, LéaSeydoux, RalphFiennes, MonicaBellucci]",6.3,Sam Mendes,Jez Butterworth,"[spy, basedonnovel, secretagent, sequel, mi6, britishsecretservice, unitedki...","[1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,3,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[ChristianBale, MichaelCaine, GaryOldman, AnneHathaway, TomHardy]",7.6,Christopher Nolan,Jonathan Nolan,"[dccomics, crimefighter, terrorist, secretidentity, burglar, hostagedrama, t...","[1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,4,John Carter,"[Action, Adventure, ScienceFiction]","[TaylorKitsch, LynnCollins, SamanthaMorton, WillemDafoe, ThomasHadenChurch]",6.1,Andrew Stanton,Mark Andrews,"[basedonnovel, mars, medallion, spacetravel, princess, alien, steampunk, mar...","[1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2921,2921,The Last Waltz,"[Documentary, Music]","[RobbieRobertson, RickDanko, LevonHelm, RichardManuel, GarthHudson]",7.9,Martin Scorsese,Mardik Martin,"[1970s, music]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2922,2922,Clerks,[Comedy],"[""BrianOHalloran"", JeffAnderson, JasonMewes, KevinSmith, LisaSpoonhauer]",7.4,Kevin Smith,Kevin Smith,"[salesclerk, loser, aftercreditsstinger]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2923,2923,Breaking Upwards,"[Comedy, Romance]","[ZoeLister-Jones, DarylWein, JulieWhite, AndreaMartin, PeterFriedman]",5.6,Daryl Wein,Peter Duchan,[independentfilm],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2924,2924,Pink Flamingos,"[Horror, Comedy, Crime]","[Divine, DavidLochary, MaryVivianPearce, MinkStole, DannyMills]",6.2,John Waters,John Waters,"[gay, trailerpark, popculture, drugdealer, heroin, fetishism, spanner, excre...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2925,2925,On The Downlow,[Drama],"[TonySancho, MichaelCortez, DonatoCruz, FelipeCamacho, CarmenCenko]",6.0,Tadeo Garcia,Roger B. Domian,"[confession, hazing, gangmember, latino, lgbt, catholicpriest, ""shakespeares...","[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [37]:
#Gets K nearest Neighbours of baseMovie
import operator
def getNeighbours(k,basemovie):
    basemovie = movies.iloc[movies[movies["original_title"].str.contains(basemovie)].original_title.str.len().sort_values().index[0]].to_frame().T
    print("Selected Movie : "+basemovie["original_title"].values[0])
    distances = []
    for index,row in movies.iterrows():
        if row["id"]!=basemovie["id"].values[0]:
            distances.append((row["id"],Similarity(row["id"],basemovie["id"].values[0])))
    distances.sort(key = operator.itemgetter(1))
    
    neighbours = []
    for i in range(k):
        neighbours.append(distances[i][0])
    
    return neighbours

In [38]:
def printNeighbours(K,movie):
    n = getNeighbours(K,movie)
    print(K,"Similar Movies :-")
    display(movies[movies.index.isin(n)][["original_title","director","screenplay","vote_average"]])

In [39]:
movie = input("Enter Movie to find Similar movies to: ")
K = int(input("How many Simialr movies to be found : "))
printNeighbours(K,movie)

Enter Movie to find Similar movies to: Harry Potter
How many Simialr movies to be found : 10
Selected Movie : Harry Potter and the Goblet of Fire
10 Similar Movies :-

,original_title,director,screenplay,vote_average
7,Harry Potter and the Half-Blood Prince,David Yates,Steve Kloves,7.4
33,Oz: The Great and Powerful,Sam Raimi,David Lindsay-Abaire,5.7
44,Prince of Persia: The Sands of Time,Mike Newell,Carlo Bernard,6.2
97,Harry Potter and the Order of the Phoenix,David Yates,Michael Goldenberg,7.4
122,Pan,Joe Wright,Jason Fuchs,5.9
159,Harry Potter and the Prisoner of Azkaban,Alfonso Cuarón,Steve Kloves,7.7
165,Harry Potter and the Philosopher's Stone,Chris Columbus,Steve Kloves,7.5
231,Harry Potter and the Chamber of Secrets,Chris Columbus,Steve Kloves,7.4
276,Seventh Son,Sergei Bodrov,Max Borenstein,5.2
283,Percy Jackson & the Olympians: The Lightning Thief,Chris Columbus,Craig Titley,6.0

In [41]:
movies.columns

Index(['id', 'original_title', 'genres', 'cast', 'vote_average', 'director',
       'screenplay', 'keywords', 'genres_bin', 'cast_bin', 'director_bin',
       'screenplay_bin', 'keywords_bin'],
      dtype='object')